body {
  margin: 0;
  font-family: Arial, sans-serif;
}
#map {
  height: 90vh;
  width: 100%;
}
h1 {
  text-align: center;
  padding: 10px;
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#map {
    height: 600px;
    width: 100%;
    margin-top: 20px;
}
